    @media only screen and (min-width: 3000px) {
        #start{
            height: 20vh;
        }
    }

@media only screen and (max-width: 2000px) {
    .k_header {
      margin-right: 20px;
    }

    .feature_list{
        margin-left: 20px;
    }

    .faq_header{
        font-size: 400%;
    }

    .faq_header img {
        height: 75px;
    }

    .faq_wrapper{
        padding-top: 50px;
    }
    .q_header {
        font-size: 250%;
    }
    
    .a_header {
        font-size: 175%;
    }

  }


  @media only screen and (max-width: 1700px) {
    .k_header {
        font-size: 500%;
        margin-top: 50px;
      }
  
      .feature_list{
          font-size: 200%;
          margin-top: 175px;
      }

      .f_wrapper {
        height: 40%;
    }

    .faq_header{
        font-size: 300%;
    }

    .faq_header img {
        height: 75px;
        width: 75px;
    }

    .faq_wrapper{
        padding-top: 50px;
        height: 40%;
    }
    
    .q_header {
        font-size: 200%;
    }
    
    .a_header {
        font-size: 150%;
    }
  }



  @media only screen and (max-width: 1100px) {
    .k_header {
        font-size: 400%;
        margin-top: 50px;
        margin-right: 20px;
      }
  
      .feature_list{
          font-size: 150%;
          margin-top: 175px;
          margin-left: 0px;
      }

      .f_wrapper {
        height:30%;
    }

    .faq_header{
        font-size: 250%;
    }

    .faq_header img {
        height: 50px;
        width: 50px;
    }

    .faq_wrapper{
        padding-top: 75px;
        height: 40%;
    }
    .q_header {
        font-size: 150%;
    }
    
    .a_header {
        font-size: 125%;
    }
  }

  @media only screen and (max-width: 850px) {

    #features {
        height: 900px;
    }
    .k_header {
        font-size: 350%;
        margin-top: 50px;
        margin-right: 20px;
      }
  
    .feature_list{
          font-size: 125%;
          margin-top: 175px;
          margin-left: 0px;
      }

    .f_wrapper {
        height: 40%;
    }


    .faq_header{
        font-size: 200%;
    }

    .faq_header img {
        height: 40px;
        width: 40px;
    }

    .faq_wrapper{
        padding-top: 35px;
        height: 30%;
    }
    .q_header {
        font-size: 150%;
    }
    
    .a_header {
        font-size: 100%;
    }

    #start {
        height: 50vh;

    }
  }
  

  @media only screen and (max-width: 750px) {
    .k_header {
        font-size: 300%;
        margin-top: 25px;
        margin-right: 20px;
      }
  
    .feature_list{
          font-size: 100%;
          margin-top: 120px;
          margin-left: 0px;
      }

    .f_wrapper {
        height: 30%;
    }

    .faq_header{
        font-size: 150%;
    }

    .faq_header img {
        height: 30px;
        width: 30px;
    }
    .faq_wrapper{
        padding-top: 35px;
        height: 25%;
    }
    .q_header {
        font-size: 125%;
    }
    
    .a_header {
        font-size: 75%;
    }

    #uploadedImage {
        height: auto;
        max-width: 200px;
    }

  }

  @media only screen and (max-width: 650px) {

    #features {
        height: 600px;
    }

    .f_wrapper {
        height: 15%;
    }

    #faq{
        height: 600px;
    }
    .k_header {
        font-size: 250%;
        margin-top: 20px;
        margin-right: 20px;
      }
  
    .feature_list{
        font-size: 75%;
        margin-top: 80px;
        margin-left: 0px;
    }

    .f_wrapper {
        height: 35%;
    }
    .faq_header{
        font-size: 150%;
    }

    .faq_header img {
        display: none;
    }

    .faq_wrapper{
        padding-top: 50px;
        margin-top: 0px;
        height: 55%;
    }

    .q_header {
        font-size: 100%;
    }
    
    .a_header {
        font-size: 50%;
    }

    .main-header h1 {
        font-size: 2rem;
    }
  }


  @media only screen and (max-width: 500px) {
    .k_header {
        font-size: 200%;
        margin-top: 20px;
        margin-right: 20px;
      }
  
    .feature_list{
        font-size: 50%;
        margin-top: 80px;
        margin-left: 0px;
      }

    .q_header {
        font-size: 50%;
    }
    
    .a_header {
        font-size: 35%;
    }

    .faq_wrapper{
        padding-top: 70px;
        height: 55%;
    }

    #photo {
        height: 50px;
        width: 50px;
    }
    .f_wrapper {
        height: 35%;
    }
  }


  @media only screen and (max-width: 400px) {
    .k_header {
        font-size: 150%;
        margin-top: 20px;
        margin-right: 10px;
      }

    .feature_list{
        font-size: 35%;
        margin-top: 80px;
        margin-left: 0px;
      }
  

    .q_header {
        font-size: 40%;
    }
    
    .a_header {
        font-size: 25%;
    }

    .faq_wrapper{
        padding-top: 80px;
        height: 55%;
    }

    .f_wrapper {
        height: 25%;
    }
  }

  @media only screen and (max-width: 400px) {
    .k_header {
        font-size: 150%;
        margin-top: 20px;
        margin-right: 10px;
      }

    .feature_list{
        font-size: 35%;
        margin-top: 80px;
        margin-left: 0px;
      }
  

    .q_header {
        font-size: 35%;
    }
    
    .a_header {
        font-size: 20%;
    }

    .faq_wrapper{
        padding-top: 80px;
        height: 55%;
    }
  }

  @media only screen and (max-width: 400px) {
    .k_header {
        font-size: 150%;
        margin-top: 20px;
        margin-right: 10px;
      }


    .feature_list{
        font-size: 35%;
        margin-top: 80px;
        margin-left: 0px;
      }
  

    .q_header {
        font-size: 35%;
    }
    
    .a_header {
        font-size: 20%;
    }

    .faq_wrapper{
        padding-top: 80px;
        height: 55%;
    }

    .q_list {
        margin-top: 15px;
    }

    .faq_header{
        font-size: 100%;
    }
  }
