@media only screen and (max-width: 2000px) {
    .k_header {
      margin-right: 20px;
    }

    .feature_list{
        margin-left: 20px;
    }

    .faq_header{
        font-size: 400%;
    }

    .faq_header img {
        height: 75px;
    }

    .faq_wrapper{
        padding-top: 100px;
    }
    .q_header {
        font-size: 250%;
    }
    
    .a_header {
        font-size: 175%;
    }

  }


  @media only screen and (max-width: 1700px) {
    .k_header {
        font-size: 500%;
        margin-top: 50px;
      }
  
      .feature_list{
          font-size: 200%;
          margin-top: 175px;
      }

      .f_wrapper {
        height: 20%;
    }

    .faq_header{
        font-size: 300%;
    }

    .faq_header img {
        height: 75px;
        width: 75px;
    }

    .faq_wrapper{
        padding-top: 50px;
        height: 20%;
    }
    
    .q_header {
        font-size: 200%;
    }
    
    .a_header {
        font-size: 150%;
    }
  }



  @media only screen and (max-width: 1100px) {
    .k_header {
        font-size: 400%;
        margin-top: 50px;
        margin-right: 20px;
      }
  
      .feature_list{
          font-size: 150%;
          margin-top: 175px;
          margin-left: 0px;
      }

      .f_wrapper {
        height:15%;
    }

    .faq_header{
        font-size: 250%;
    }

    .faq_header img {
        height: 50px;
        width: 50px;
    }

    .faq_wrapper{
        padding-top: 100px;
        height: 20%;
    }
    .q_header {
        font-size: 175%;
    }
    
    .a_header {
        font-size: 125%;
    }
  }

  @media only screen and (max-width: 850px) {
    .k_header {
        font-size: 350%;
        margin-top: 50px;
        margin-right: 20px;
      }
  
      .feature_list{
          font-size: 125%;
          margin-top: 175px;
          margin-left: 0px;
      }

      .f_wrapper {
        height: 15%;
    }


    .faq_header{
        font-size: 200%;
    }

    .faq_header img {
        height: 40px;
        width: 40px;
    }

    .faq_wrapper{
        padding-top: 50px;
        height: 15%;
    }
    .q_header {
        font-size: 150%;
    }
    
    .a_header {
        font-size: 100%;
    }
  }
  

  @media only screen and (max-width: 750px) {
    .k_header {
        font-size: 300%;
        margin-top: 25px;
        margin-right: 20px;
      }
  
      .feature_list{
          font-size: 100%;
          margin-top: 120px;
          margin-left: 0px;
      }

      .f_wrapper {
        height: 10%;
    }

    .faq_header{
        font-size: 150%;
    }

    .faq_header img {
        height: 30px;
        width: 30px;
    }
    .faq_wrapper{
        padding-top: 100px;
        height: 15%;
    }
    .q_header {
        font-size: 125%;
    }
    
    .a_header {
        font-size: 75%;
    }
  }

  @media only screen and (max-width: 650px) {
    .k_header {
        font-size: 250%;
        margin-top: 20px;
        margin-right: 20px;
      }
  
      .feature_list{
          font-size: 75%;
          margin-top: 80px;
          margin-left: 0px;
      }

      .f_wrapper {
        height: 7%;
    }
    .faq_header{
        font-size: 150%;
    }

    .faq_header img {
        display: none;
    }

    .faq_wrapper{
        padding-top: 25px;
        height: 10%;
    }
    .q_header {
        font-size: 100%;
    }
    
    .a_header {
        font-size: 50%;
    }
  }


  @media only screen and (max-width: 500px) {
    .k_header {
        font-size: 200%;
        margin-top: 20px;
        margin-right: 20px;
      }
  
      .feature_list{
          font-size: 50%;
          margin-top: 80px;
          margin-left: 0px;
      }

      .f_wrapper {
        height: 7%;
    }

    .faq_wrapper{
        padding-top: 5px;
        height: 7%;
    }
    .q_header {
        font-size: 75%;
    }
    
    .a_header {
        font-size: 50%;
    }
  }
