.main-header {
    background-size: cover;
    background-position: center;
    color: white;
    height: 85vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("background.jpg") no-repeat center center;
    background-position: center center;
    background-repeat: no-repeat;

}
.main-header h1 {
    font-size: 3rem;
    font-weight: bold;
}
.main-header p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.img-div {
    width: 20vw;
    height: 80vw;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

img {
    max-width: 100%;
    max-height: 100%;
  }

.file-input-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.file-input-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.custom-file-label {
    color:royalblue;
    cursor: pointer;
}

.custom-file-label:hover {
    color:darkblue;
}

.icon-upload {
    font-size: 200px;
    cursor: pointer;
}

.icon-upload:hover {
    color:#007BFF;
}

#features {
    height: 1300px;
}

#faq {
    height: 1300px;
}

.f_wrapper {
    height: 55%;
    margin-top: 250px;
    background: url("purr.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.feature_list {
    color: rgb(146, 191, 253);
    font-size: 300%;
    display: block;
    float: left;
    margin-left: 150px;
    margin-top: 250px;
    list-style: none;
}

.k_header {
    display: block;
    float: right;
    margin-right: 100px;
    color: rgb(215, 252, 0);
    font-size: 850%;
    margin-top: 150px;
    font-family: "Noto Serif", serif;
    font-style: italic;
}

.faq_wrapper{
    height: 55%;
    margin-top: 75px;
    background: url("dogtre.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 50px;
    
}

.faq_header{
    font-size: 500%;
    text-align: center;
    color: rgb(215, 252, 0);
    font-family: "Noto Serif", serif;
    font-style: italic;
    background-color:#343a40;
    margin-top: 100px;
    padding: 25px;

}

.q_header {
    text-align: center;
    color: rgb(215, 252, 0);
    font-size: 275%;
    text-decoration: underline;
}

.a_header {
    text-align: center;
    color: rgb(146, 191, 253);
    font-size: 200%;
}

.faq_header img {
    height: 100px;
}