<div class="mt-5" id="faq">

    <h1 class="faq_header">
     <b>Fequently asked questions </b><img src="{{ url_for('static', filename='css//paws.png') }}"><img src="{{ url_for('static', filename='css//paws.png') }}">
    </h1>

      <div class="faq_wrapper">

         <div class="q_list">
            <h3 class="q_header">

               What animals can the modell recognise? 

            </h3>

            <h4 class="a_header">
               Only cats and dogs
            </h4>

            <h3 class="q_header">

               What animals can't the modell recognise

            </h3>

            <h4 class="a_header">
               Most off them
            </h4>

            <h3 class="q_header">

               Why does this website even exist


            </h3>

            <h4 class="a_header">
               To push the limits of what artificial intelligence can do                
            </h4>

            <h3 class="q_header">

               Can i submit an image that the modell failed to classify

            </h3>

            <h4 class="a_header">
               Yes! Just don't forget to specify what animal your photo depicts
            </h4>

            <h3 class="q_header">

               When will the full version be released

            </h3>

            <h4 class="a_header">
               This is the full version
            </h4>

         </div>

      </div>


    </div>
</div>