<div class="py-5" id="features">

    <div class="f_wrapper">
        <ul class="feature_list">
            <li>
                <i class='bx bx-plus-medical' style="color: rgb(215, 252, 0);"></i> World class image recognition
            </li>

            <li>
                <i class='bx bx-plus-medical' style="color: rgb(215, 252, 0);"></i> Constantly improving modell 
            </li>
            <li>
                <i class='bx bx-plus-medical' style="color: rgb(215, 252, 0);"></i> Responsive webb-app
            </li>

            <li>
                <i class='bx bx-plus-medical' style="color: rgb(215, 252, 0);"></i> Mostly GDPR complient 
            </li>
        </ul>

        <h2 class="k_header">
            <b>Key features</b>
        </h2>

    </div>


</div>