<div id="start" class="d-flex flex-column p-5 align-items-center " style="height: 90vh;">
    <div class="py-5 w-100">
        <form id="uploadForm" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="container">
                <div class="row justify-content-center " style="color: rgb(255, 215, 0);">
                    <h1>Choose image to classify</h1>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-4 text-center ">
                        <label for="photo">
                            <i class='bx bx-upload icon-upload'></i>
                            {{ form.photo(id='photo') }}
                        </label>
                    </div>
                </div>
            </div>
        </form>

        <div class="container pt-3">
            <div class="row justify-content-center">
                <img id="uploadedImage" style="max-width: 400px; height: auto;" >
            </div>
            <div class="row justify-content-center pt-1">
                <div id="classificationResult" style="color: rgb(255, 215, 0); font-size: large;"></div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const uploadIcon = document.querySelector('.icon-upload');
    const fileInput = document.getElementById('photo');
    const form = document.getElementById('uploadForm');
    const classificationResult = document.getElementById('classificationResult');
    const uploadedImage = document.getElementById('uploadedImage');

    uploadIcon.addEventListener('click', function() {
        console.log('Upload icon clicked');
        fileInput.click();
    });

    fileInput.addEventListener('change', async function(event) {
        console.log('File input changed');
        const file = fileInput.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                console.log('File read successfully');
                uploadedImage.src = e.target.result;
            };
            reader.readAsDataURL(file);

            const formData = new FormData(form);

            const response = await fetch("{{ url_for('api.classify_api') }}", {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                const result = await response.json();
                classificationResult.innerText = `Prediction: ${result.prediction}, Confidence: ${result.confidence}`;
                console.log('Classification result received:', result);
            } else {
                const error = await response.json();
                classificationResult.innerText = `Error: ${error.error}`;
                console.log('Error received:', error);
            }
        }
    });
});
</script>