<div class="d-flex flex-column p-5 align-items-center " style="height: 90vh;">
    <div class="py-5 w-100 " id="start">
        <form id="uploadForm" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="container">
                <div class="row justify-content-center " style="color: rgb(255, 215, 0);">
                    <h1>Choose image to classify</h1>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-4 text-center ">
                        <label for="photo">
                            <i class='bx bx-upload icon-upload'></i>
                            {{ form.photo(id='photo', style="display: None;") }}
                        </label>
                    </div>
                </div>
            </div>
        </form>

        <div id="result" style="color: rgb(255, 215, 0);"></div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const uploadIcon = document.querySelector('.icon-upload');
        const fileInput = document.getElementById('photo');
        const form = document.getElementById('uploadForm');

        uploadIcon.addEventListener('click', function() {
            fileInput.click();
        });

        fileInput.addEventListener('change', async function(event) {
            // Automatically submit the form
            // fileInput.form.submit();
            const formData = new FormData(form);

            const response = await fetch("{{ url_for('api.classify_api') }}", {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                const result = await response.json();
                document.getElementById('result').innerText = `Prediction: ${result.prediction}, Confidence: ${result.confidence}`;
            } else {
                const error = await response.json();
                document.getElementById('result').innerText = `Error: ${error.error}`;
            }
        });
    });
</script>